<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>View Account</title>
<link rel="stylesheet" th:href="@{/assets/css/listuser.css}" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
	integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div class="container">
		<div class="left-panel">
			<div class="vertical-divider"></div>
			<h1>ADMIN MODE</h1>
			<hr class="divider">
			<button class="exit-btn"
				onclick="window.location.href='/homepage-admin/manage-account'">Thoát</button>
		</div>
		<div class="right-panel">
			<h1>DANH SÁCH TÀI KHOẢN</h1>
			<form class="form-container">
				<table border="1" cellpadding="10">
					<thead>
						<tr>
							<th>ID Người Dùng</th>
							<th>Họ Và Tên</th>
							<th>Tên Đăng Nhập</th>
							<th>Chức Năng</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${listUsers}">
							<td th:text="${user.id}">ID Người Dùnh</td>
							<td th:text="${user.fullname}">Họ Và Tên</td>
							<td th:text="${user.username}">Tên Đăng Nhập</td>
							<td><a th:href="@{/edituser/{id}(id=${user.id})}" class = "update-btn">Sửa</a> 
							
						</tr>
					</tbody>
				</table>
				</form>
		</div>
	</div>
</body>
</html>
