<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/viewBook.css}"/>
</head>
<body>
<div class="container">
    <h1>DANH SÁCH BÀN ĐẶT TRƯỚC</h1>
    <div class="main-form">
    <table>
        <thead>
            <tr>
                <th>Ngày đặt</th>
                <th>Giờ đặt</th>
                <th>Số người</th>
                <th>Mã bàn</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.bookDate}"></td>
                <td th:text="${book.bookTime}"></td>
                <td th:text="${book.numberOfPeople}"></td>
                <td th:text="${book.tableId}"></td>
            </tr>
        </tbody>
    </table>
    </div>
    <button onclick="window.location.href='/homepage/homepage-cashier'">Thoát</button>
    </div>
</body>
</html>
